<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>{{ producto.nombre }} - {{ producto.precio }} - {{ producto.stock }} - {% if producto.estado %}Activo{% else %}Inactivo{% endif %}</li>
        {% endfor %}
    </ul>
    <a href="/admin/">Ir al panel de administración</a>
</body>
</html>